<header id="site-head" xmlns="http://www.w3.org/1999/html">
    <div id="site-head-content" class="inner">
        <a class="logo" href="{{@blog.url}}">
            <h1>Prompt</h1>
        </a>
        <h2>(for when you need a telepromter and you have a friend who's a hacker)</h2>
    </div>
    <div id="page_head">
        {{> controller}}
    </div>
</header>
