
.flexbox {
  #main_nav{
  @include display(flex);
  @include flex-direction(row);
  @include flex(1);
  @include align-content(center);
  @include justify-content(center);
  }
}
#main_nav{
  &.updated {
    position:  fixed;
    right:  0px;
    top: 0px;
  }
}
.command{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font: normal normal 900 5rem "Quicksand", sans-serif;
  overflow: hidden;
  border: 8px solid $white;
  border-radius: 50%;
  background: $black;
  color: $white;
  box-shadow: 0 0 10px 0 $black;
  margin: 10px;
}
.up{
  @include transform(rotate(180deg));
}
.down{
  @include transform(rotate(0deg));

}

